/* modal para quando perder */

.modal-container-perdeu
{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0,0,0,.5);
    top: 0px;
    left: 0px;
    z-index: 2000;
   display: none;
    justify-content: center;
    align-items: center;
}

.modal-perdeu
{
    background: rgb(100, 100, 100);
    border-radius: 20px;
    width: 20%;
    min-width: 300px;
    padding: 50px;
    text-align: center;
    align-items: center;
}

.modal-acabou
{
    font-size: 30px;
    color:  rgb(241, 99, 16);
}


.modal-container-perdeu.mostrarPerdeu
{
    display: flex;
}

@keyframes modal-perdeu
{
    from
    {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

        to 
        {
            opacity: 1;
            transform: translate3d(0,0,0);
        }
}

.mostrarPerdeu .modal-perdeu
{
    animation: modal-perdeu .7s;
}


.button-fechar
{
    
    border-radius: 24px;
    background: rgb(207, 106, 11);
    font-size: 25px;
    text-decoration: none;
    width: 100px;
    height: 70px;

}


.button-fechar:hover
{
   background: rgb(255, 167, 4);
}

.button-fechar:active
{
    width: 180px;
    height: 90px;
}

/* modal que ira aparecer caso o usuario vença o jogo */

.modal-container-ganhou
{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0,0,0,.5);
    top: 0px;
    left: 0px;
    z-index: 2000;
   display: none;
    justify-content: center;
    align-items: center;
}

.modal-ganhou
{
    background: rgb(100, 100, 100);
    border-radius: 20px;
    width: 20%;
    min-width: 300px;
    padding: 50px;
    text-align: center;
    align-items: center;
}

.modal-parabens
{
    font-size: 30px;
    color:  rgb(241, 99, 16);
}


.modal-container-ganhou.mostrarGanhou
{
    display: flex;
}

@keyframes modal-ganhou
{
    from
    {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

        to 
        {
            opacity: 1;
            transform: translate3d(0,0,0);
        }
}

.mostrarPerdeu .modal-ganhou
{
    animation: modal-perdeu .7s;
}


.button-fechar
{
    
    border-radius: 24px;
    background: rgb(207, 106, 11);
    font-size: 25px;
    text-decoration: none;
    width: 100px;
    height: 70px;

}


.button-fechar:hover
{
   background: rgb(255, 167, 4);
}

.button-fechar:active
{
    width: 180px;
    height: 90px;
}